<h1>Listing messages</h1>

<%= search_form_for @q, html: {class: "form-horizontal", role: "form"} do |f| %>
    <div class="form-group control-group">
      <%= f.label 'Search Word', class: "col-sm-2 control-label" %>
      <div class="controls">
        <%= f.text_field :text_cont %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label 'Channel', class: "col-sm-2 control-label" %>
      <div class="controls">
        <%= f.select :channel_id_eq, options_from_collection_for_select(Channel.all, "id", "name", @q.channel_id_eq), include_blank: true %>
       </div>
    </div>

    <div class="form-group">
      <%= f.label 'Date Range' %>
      <div class="controls">
        <%= f.date_select :created_at_gteq, {include_blank: true}, {class: "col-xs-2 form-control"} %>〜
        <%= f.date_select :created_at_lteq, {include_blank: true}, {class: "col-xs-2 form-control"} %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Search</button>
      </div>
    </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Channel</th>
      <th>Text</th>
      <th>User</th>
      <th>Command</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td style="width: 200px"><%= message.created_at %></td>
        <td><%= message.channel.name %></td>
        <td><%= message.text %></td>
        <td><%= message.user %></td>
        <td><%= message.command %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
